/* Estilo para o contêiner do calendário */
.calendar-container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centraliza horizontalmente o conteúdo */
    justify-content: center; /* Centraliza verticalmente o conteúdo */
    height: 100vh; /* Faz o contêiner ocupar toda a altura da viewport */
    padding-bottom: 6%; /* Adiciona algum espaçamento ao redor */
  }
  
  /* Estilo para o calendário */
  .react-calendar {
    width: 100%; /* Faz o calendário ocupar toda a largura do contêiner */
    max-width: 1000px; /* Define uma largura máxima se necessário */
    max-height: 45%;
    height: 100%;
    margin-bottom: 20px; /* Adiciona espaço abaixo do calendário */
  }
  
  /* Estilo para o botão */
  .add-appointment-button {
    background-color: #458c62; /* Cor do fundo do botão */
    color: white; /* Cor do texto do botão */
    border: none; /* Remove bordas do botão */
    padding: 10px 20px; /* Adiciona preenchimento ao botão */
    border-radius: 5px; /* Adiciona bordas arredondadas ao botão */
    font-size: 16px; /* Tamanho da fonte do botão */
    cursor: pointer; /* Muda o cursor para pointer ao passar sobre o botão */
    transition: background-color 0.3s; /* Transição suave para cor de fundo */
  }
  
  /* Estilo para o botão ao passar o mouse */
  .add-appointment-button:hover {
    background-color: #458c62; /* Cor do fundo ao passar o mouse */
  }
  