
.calendario-port {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border: 1px solid #cce6bd;
  border-radius: 2px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.493);
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5); 
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; 
}


.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  width: 90%;
  max-width: 500px;
  z-index: 1001;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  background: none;
  font-size: 20px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .calendario-port {
      padding: 10px;
  }
}

footer{
  background-color: #337544;
}

h5{
  font-weight: bold;
  font-size: 3rem; 
  text-shadow: 2px 2px 4px rgba(19, 29, 20, 0.301); 
  font-family: 'Mulish', sans-serif;
  font-weight: 1000;
}
  

.nu{
color:#337544;
font-weight: bold;
font-size: 3rem; 
text-shadow: 2px 2px 4px rgba(68, 139, 75, 0.301); 
font-family: 'Mulish', sans-serif;
font-weight: 1000;
text-align: right;
}



.number-list li{
  font-size: 1.6rem; 
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.301); 
  font-family: 'Mulish', sans-serif;
  font-weight: 500;
  display: flex; 
  align-items: center;
  cursor: default;
  text-align: left;


}

.number-list {
 display: flex;
  flex-direction: column; 
  align-items: flex-start; 
  padding-inline-end: 30%;
  cursor: default;
}


.footer-text{
  font-size:1.3rem; 
  text-shadow: 2px 2px 4px rgba(59, 59, 59, 0.075); 
  font-family: 'Mulish', sans-serif;
  font-weight: 100;
  color: #fff;
}


.footImg{
  width: 100px; 
  height: auto;
  padding-top: 0%;
}

.linqui{
  font-size:1.3rem; 
  text-shadow: 2px 2px 4px rgba(59, 59, 59, 0.075); 
  font-family: 'Mulish', sans-serif;
  font-weight: 100;
  color: #fff;
  text-decoration: none;
}

.mt-4-custom{
  margin-top: 11%;
}


.image-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.img-fluid {
  max-width: 100%;
  height: auto;
  max-height: 80%; 
}

.question-container {
  background-color: #2e7d32;
  color: white;
  padding: 20px;
  border-radius: 15px;
  text-align: center;
  max-width: 600px;
  margin: 0 auto;
}

.question-container h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.question-container label {
  display: block;
  margin-bottom: 10px;
  font-size: 18px;
}

.question-container button {
  background-color: white;
  color: #2e7d32;
  border: 2px solid #2e7d32;
  border-radius: 8px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.question-container button:hover {
  background-color: #2e7d32;
  color: white;
}

.botau{
  background-color: #478C63;
}

.react-calendar {
  width: 100%;
  border: none;
  font-family: Arial, sans-serif;
}

.react-calendar__tile {
  padding: 10px;
  font-size: 14px;
}

.react-calendar__tile--active {
  background-color: #3a965f;
  color: white;
  border-radius: 4px;
}

.react-calendar__tile--now {
  background-color: #478C63;
  border-radius: 4px;
  font-weight: bold;
}


.imgOnline {
  margin-top: -10px;
  z-index: 2;
  width: 100%; /* Tamanho padrão em telas pequenas */
}

.imgBackground {
  width: 95%; /* Tamanho padrão em telas pequenas */
  position: relative;
  top: -180px;
  z-index: 1;
  margin: 0 auto;
}

/* Media query para telas maiores (desktop) */
@media (min-width: 992px) {
  .imgOnline {
    width: 80%; /* Reduz o tamanho da imagem em telas grandes */
  }

  .imgBackground {
    width: 85%; /* Reduz o tamanho da imagem de fundo em telas grandes */
    top: -150px; /* Ajusta a posição vertical se necessário */
  }
}